body {
    background: linear-gradient(to right, #000000, #0f9b0f);
    font-family: 'Rubik', sans-serif;
    color: whitesmoke;
    overflow: hidden;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    font-weight: bold;
}

h2 {
    color: goldenrod;
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    font-weight: none;
}

.menu a {
    display: block;
    text-decoration: none;
    color: goldenrod;
}

footer a {
    text-decoration: none;
    color: goldenrod;
}

.borda-valores-unicos {
    border: 5px solid goldenrod;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.features summary {
    color: goldenrod;
}

.classe::-webkit-scrollbar-thumb,
.textos::-webkit-scrollbar-thumb,
.especificacao-classe::-webkit-scrollbar-thumb,
.anotacoes-aventuras::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

.classe::-webkit-scrollbar-thumb:hover,
.textos::-webkit-scrollbar-thumb:hover,
.especificacao-classe::-webkit-scrollbar-thumb:hover,
.anotacoes-aventuras::-webkit-scrollbar-thumb:hover {
    background: goldenrod;
}

.textos h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.highlight {
    background-color: rgb(218, 165, 32, 0.5);
}

.card-aventura h3 {
    color: black;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.titulo-ultima-atualizacao {
    color: goldenrod;
}

.viagem {
    color: #0f9b0f;
    font-size: 16px;
}

.anotacoes-aventuras h1 {
    color: #0f9b0f;
    font-size: 12px;
    text-align: right;
    margin-right: 5px;
}

.anotacoes-aventuras h2 {
    font-size: 12px;
    text-align: center;
    text-shadow: none;
    color: #0f9b0f;
}

.criticos-sessao {
    background: #0f9b0f;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid goldenrod;
    padding: 7px;
}

.criticos-sessao h1 {
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 16px;
}

.criticos-sessao p {
    margin-left: 5px;
}

.criticos-sessao .valor {
    font-size: 14px;
    color: goldenrod;
    font-weight: bold;
}

.criticos-sessao .pericia {
    color: goldenrod;
    font-weight: bold;
}