body {
    background: linear-gradient(to right, #333333, #dd1818);
    font-family: 'Rubik', sans-serif;
    color: whitesmoke;
    overflow: hidden;
}

header h1 {
    font-family: 'Kalam', cursive;
    font-size: 40px;
    font-weight: bold;
}

.titulo-aivilo {
    color: orange;
}

.menu a {
    display: block;
    text-decoration: none;
    color: orange;
}

footer a {
    text-decoration: none;
    color: orange;
}