* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 90vh;
    width: 25vw;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    display: block;
    float: left;
}

header img {
    width: 150px;
}

section {
    float: left;
    margin-top: 10px;
}

.resumo {
    text-align: left;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 15px;
}

.menu {
    margin-top: 30px;
}

.menu a:hover {
    font-weight: bold;
}

.menu i {
    font-size: 13px;
}

.btn-voltar {
    margin-top: 50px;
}

.pontos-habilidades {
    margin-left: 10px;
    display: flex;
    align-content: space-around;
}

.pto-habilidade {
    background: white;
    border-radius: 5px;
    border-style: double;
    color: black;
    height: 70px;
    width: 70px;
    margin-right: 50px;
}

.titulo-pto-habilidade,
.valor-pto-habilidade {
    text-align: center;
}

.titulo-pto-habilidade {
    font-size: 0.5em;
    font-weight: bold;
    margin-top: 5px;
}

.valor-pto-habilidade {
    font-size: 2.5em;
    font-weight: bold;
}

.titulo-saving-throws {
    margin-bottom: 10px;
}

footer {
    bottom: 10px;
    color: white;
    font-size: 10px;
    height: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer a:hover {
    font-weight: bold;
}