* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 90vh;
    width: 25vw;
    text-align: center;
    margin-top: 20px;
    float: left;
    z-index: 1;
    position: fixed;
}

header img {
    width: 150px;
}

section {
    height: 100vh;
    padding-top: 10px;
}

section h2 {
    font-size: 36px;
    text-shadow: 2px 2px 8px #000;
}

.secoes-conteudo {
    float: left;
    margin-left: 350px;
}

.resumo {
    text-align: center;
    margin-top: -10px;
    font-size: 15px;
}

.menu {
    margin-top: 30px;
}

.menu a:hover {
    font-weight: bold;
}

.menu i {
    font-size: 13px;
}

.btn-voltar {
    margin-top: 50px;
}

.pontos-habilidades,
.valores-unicos,
.listas-bio {
    margin-bottom: 5px;
}

.valores-unicos {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.unidade-medida {
    font-size: 12px;
}

.pontos-habilidades {
    margin-left: 10px;
    display: flex;
}

.pto-habilidade {
    background: white;
    border-radius: 5px;
    border-style: double;
    color: black;
    height: 70px;
    width: 70px;
    margin-right: 50px;
}

.titulo-pto-habilidade,
.valor-pto-habilidade {
    text-align: center;
}

.titulo-pto-habilidade {
    font-size: 0.5em;
    font-weight: bold;
    margin-top: 5px;
}

.valor-pto-habilidade {
    font-size: 2.5em;
    font-weight: bold;
    color: black;
}

.titulo-saving-throws {
    margin-bottom: 10px;
}

.armorclass {
    height: 70px;
    width: 90px;
    border: 5px double black;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
    background-color: white;
}

.armorclass .titulo {
    color: black;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}

.valores-unicos-digito {
    font-size: 2.2em;
    font-weight: bold;
    color: white;
}

.valores-unicos-titulo {
    font-size: 12px;
}

.listas-bio {
    display: flex;
    align-items: flex-start;
}

.listas,
.inventario-pagina {
    margin-top: 10px;
    color: black;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border-style: double;
}

.listas {
    width: 11em;
}

.inventario-pagina {
    width: 17em;
}

.listas p,
.inventario-pagina p {
    margin-left: 10px;
}

.listas .titulo,
.inventario-pagina .titulo {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 0;
}

.features {
    margin-top: 10px;
}

.features h2 {
    text-align: center;
    text-shadow: 2px 2px 8px #000;
}

.sumarios {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.racial,
.classe, 
.especificacao-classe {
    width: 250px;
    margin-right: 10px;
}

.classe,
.especificacao-classe {
    max-height: 200px;
    overflow-x: auto;
}

.source {
    font-size: 10px;
    color: darkgray;
}

.observacao-background {
    font-size: 12px;
    margin-top: -5px;
    color: darkgray;
}

footer {
    bottom: 10px;
    color: white;
    font-size: 10px;
    height: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer a:hover {
    font-weight: bold;
}

details[close] {
    min-height: 30px;
}

details>summary {
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none
}
  
summary::after {
    content: ' ►';
}

details[open] summary:after {
    content: " ▼";
}

details[open] {
    max-width: 250px;
    text-align: justify;
}

details[open] .conteudo {
    font-size: 11px;
}

.classe::-webkit-scrollbar,
.textos::-webkit-scrollbar,
.especificacao-classe::-webkit-scrollbar {
    width: 5px;
}

.classe::-webkit-scrollbar-track,
.textos::-webkit-scrollbar-track,
.especificacao-classe::-webkit-scrollbar-track {
    border-radius: 10px;
}

.personagens::-webkit-scrollbar {
    width: 5px;
}

.personagens::-webkit-scrollbar-track {
    border-radius: 10px;
}

.textos {
    margin-right: 10px;
    overflow-x: auto;
    height: 80vh;
}

.texto-corrido p {
    text-align: justify;
    text-indent: 20px;
    font-size: 14px;
}