body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    font-family: 'Rubik', sans-serif;
    color: whitesmoke;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: whitesmoke;
    margin-top: 10px;
}

h2 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 8px #000;
    font-size: 2em;
}

footer a {
    text-decoration: none;
    color: orange;
}

footer a:active {
    color: yellow;
}

.personagens {
    height: 85vh;

    overflow-x: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conteudo {
    margin-top: 5px;
}

.minibio {
    margin-left: 10px;
    margin-top: 5px;
}

.minibio p,
.inventario p{
    font-size: 0.9em;
}

.inventario {
    margin-top: 15px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
}

.footer-card {
    bottom: 10px;
    color: white;
    font-size: 13px;
    height: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.link-footer:hover {
    font-weight: bold;
}

.personagens::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

.personagens::-webkit-scrollbar-thumb:hover {
    background: orange;
}

.personagens::-webkit-scrollbar-thumb:hover {
    background: orange;
}

/************ Card Aivilo ************/
.titulo-aivilo {
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    color: crimson;
}

#aivilo h2 {
    font-family: 'Kalam', cursive;
}

#aivilo h3 {
    text-shadow: 2px 2px 8px #000;
    color: crimson;
}

#aivilo .footer-card a {
    text-decoration: none;
    color: orange;
}

/************ Card Anubis ************/

.titulo-anubis {
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    color: mediumpurple;
}

#anubis h2 {
    font-family: 'Shadows Into Light', cursive;
}

#anubis h3 {
    text-shadow: 2px 2px 8px #000;
    color: mediumpurple;
}

#anubis .footer-card a {
    text-decoration: none;
    color: aqua;
}

/************ Card Agamennon ************/

.titulo-agamennon {
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    color: forestgreen;
}

#agamennon h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 23px;
}

#agamennon h3 {
    text-shadow: 2px 2px 8px #000;
    color: forestgreen;
}

#agamennon .footer-card a {
    text-decoration: none;
    color: yellow;
}

/************ Card Agamennon ************/

.titulo-avritt {
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    color: hotpink;
}

#avritt h2 {
    font-family: 'Dancing Script', cursive;
}

#avritt h3 {
    text-shadow: 2px 2px 8px #000;
    color: hotpink;
}

#avritt .footer-card a {
    text-decoration: none;
    color: lime;
}

/************ Card Aquaria ************/

.titulo-aquaria {
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    color: royalblue;
}

#aquaria h2 {
    font-family: 'Nanum Pen Script', cursive;
}

#aquaria h3 {
    text-shadow: 2px 2px 8px #000;
    color: royalblue;
}

#aquaria .footer-card a {
    text-decoration: none;
    color: violet;
}

/************ Card Amon ************/

.titulo-amon {
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    color: gold;
}

#amon h2 {
    font-family: 'Amatic SC', cursive;
}

#amon h3 {
    text-shadow: 2px 2px 8px #000;
    color: gold;
}

#amon .footer-card a {
    text-decoration: none;
    color: chartreuse;
}